[submodule "vendor/ArTICL"]
	path = vendor/ArTICL
	url = git@github.com:KermMartian/ArTICL.git
[submodule "vendor/n-link"]
	path = vendor/n-link
	url = https://github.com/lights0123/n-link
[submodule "vendor/libnspire-rs"]
	path = vendor/libnspire-rs
	url = git@github.com:lights0123/libnspire-rs.git
[submodule "vendor/micropython"]
	path = vendor/micropython
	url = git@github.com:micropython/micropython.git
