[submodule "vendor/ArTICL"]
	path = vendor/ArTICL
	url = git@github.com:KermMartian/ArTICL.git
[submodule "vendor/n-link"]
	path = vendor/n-link
	url = https://github.com/lights0123/n-link
[submodule "vendor/libnspire-rs"]
	path = vendor/libnspire-rs
	url = git@github.com:lights0123/libnspire-rs.git
[submodule "vendor/micropython"]
	path = vendor/micropython
	url = git@github.com:micropython/micropython.git
[submodule "vendor/tilibs"]
	path = vendor/tilibs
	url = git@github.com:debrouxl/tilibs.git
[submodule "vendor/pico-sdk"]
	path = vendor/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "vendor/tilem"]
	path = vendor/tilem
	url = git@github.com:kuba160/tilem-gtk3.git
[submodule "vendor/ti84wifi"]
	path = vendor/ti84wifi
	url = git@github.com:ajcord/WIFI-84.git
